.color-palette-heading {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.color-box {
    padding: 30px;
}

.color-name {
    font-size: 24px;
    color: white;
}

.column-spacing {
    margin-bottom: 30px;
}