@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.box {
  color: white;
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.box1 {
  background-color: #1abc9c;
  flex-grow: 2;
  width: 100px;
}

.box2 {
  background-color: #3498db;
  width: 100px;
  flex-grow: 1;
}

.box3 {
  background-color: #983e9c;
  width: 100px;
  flex-grow: 0;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: 10px solid goldenrod;
  height: 100vh;
  box-sizing: border-box;
}